<h2> Ironhack celebrities</h2>

<ul>
    {{#each myCeleb}}
    <li>
        <p>{{this.name}}</p>
        <a href="celebrities/{{this.id}}">Go to check the celebrities by ID</a>
    
        <form action="/celebrities/{{this.id}}/delete" method="POST">
            <button>delete ID</button>
        </form>
    </li>
    {{/each}}

</ul>