<h2>Celebrities</h2>
{{#each celebrities}}
    <p>{{name}} said : {{catchPhrase}} </p>
    <div class="btn-ctn">
        <button><a href="/celebrities/{{_id}}">Details</a></button>
        <form action="/celebrities/{{id}}/delete" method="POST">
            <button>Delete</button>
        </form>
    </div>
    
{{/each}}

<hr>

<h6>
    <a href="/celebrities/new">Create new celebrity</a>
</h6>