<div class="celebritiespage">
    <h2>Celebrities TOTOOT</h2>
    {{#each celebrity}}
    <p>{{name}}</p>
    <a href="celebrities/{{_id}}">{{name}}</a>
    {{/each}}

    <a href="/celebrities/new">New Celebrities</a>
    
</div>
