<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<button>
<a href="celebrities">Go to check the celebrities</a>
</button>

<button>
<a href="/celebrities/new">Update celebrities</a>
</button>

<button>
<a href="/movies/new">Go to check the Movies</a>
</button>



