<h2>Create Movie</h2>
<form action="/movies" method="POST">
    <label>
        <input type="text"  name="Title">
    </label>
    

    <label>
        <input type="text"  name="Genre">
    </label>
    

    <label>
        <input type="text" name="Plot">
     </label>
     
      <button type="submit">Create new Movies</button>
     </form>
