body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.btn-ctn {
   display: flex;
   gap: 1em;
}

h6 {
  font-size: 100%;
  :hover{
    background-color: red;
  }
}