<h2> Creating the Movies</h2>

<form action="/movies" method="POST">
    <label>
        Title:
        <input type="text" name="title" />
    </label>
    
    <label>
        Genre:
        <input type="text" name="genre" />
    </label>
    
    <label>
        Plot:
        <input type="text" name="plot" />
    </label>

    <label>
        Cast:
        <select name= "celebrity" multiple>
        {{#each myMovie}}
        <option value= "{{this._id}}">{{this.title}}</option>
        {{/each}}
    </select>
    </label>
    
    <button>Create😎</button>
</form>
